In [3]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler,LabelEncoder

In [5]:
df=pd.read_csv('anime.csv')
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [6]:
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [8]:
df.shape

(12294, 7)

In [9]:
len(df.anime_id.unique())

12294

In [10]:
len(df.genre.unique())

3265

In [11]:
len(df.rating.unique())

599

In [12]:
df.groupby('genre')['rating'].mean().sort_values(ascending=False).head()

genre
Action, Adventure, Drama, Fantasy, Magic, Military, Shounen    9.26
Drama, Fantasy, Romance, Slice of Life, Supernatural           9.06
Drama, School, Shounen                                         9.05
Action, Drama, Mecha, Military, Sci-Fi, Super Power            8.98
Adventure, Drama, Supernatural                                 8.93
Name: rating, dtype: float64

In [14]:
df.groupby('genre')['rating'].count().sort_values(ascending=False).head()

genre
Hentai                   816
Comedy                   521
Music                    297
Kids                     197
Comedy, Slice of Life    174
Name: rating, dtype: int64

In [16]:
df=df.dropna()
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [18]:
df[df.duplicated()]

Empty DataFrame
Columns: [anime_id, name, genre, type, episodes, rating, members]
Index: []

In [21]:
label_encoder= LabelEncoder()
df['type']=label_encoder.fit_transform(df['type'])

In [22]:
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",0,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",5,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",5,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",5,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",5,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,3,1,4.15,211
12290,5543,Under World,Hentai,3,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,3,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,3,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,0,1,5.46,142

In [23]:
df['genre']=label_encoder.fit_transform(df['genre'])
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,2660,0,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,159,5,64,9.26,793665
2,28977,Gintama°,527,5,51,9.25,114262
3,9253,Steins;Gate,3205,5,24,9.17,673572
4,9969,Gintama&#039;,527,5,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,2874,3,1,4.15,211
12290,5543,Under World,2874,3,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,2874,3,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,2874,3,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,2874,0,1,5.46,142

In [24]:
df['members']=label_encoder.fit_transform(df['members'])
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,2660,0,1,9.37,6379
1,5114,Fullmetal Alchemist: Brotherhood,159,5,64,9.26,6592
2,28977,Gintama°,527,5,51,9.25,6125
3,9253,Steins;Gate,3205,5,24,9.17,6588
4,9969,Gintama&#039;,527,5,51,9.16,6263
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,2874,3,1,4.15,191
12290,5543,Under World,2874,3,1,4.28,163
12291,5621,Violence Gekiga David no Hoshi,2874,3,4,4.88,199
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,2874,3,1,4.98,155
12293,26081,Yasuji no Pornorama: Yacchimae!!,2874,0,1,5.46,122

In [25]:
df['episodes']=label_encoder.fit_transform(df['episodes'])
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,2660,0,0,9.37,6379
1,5114,Fullmetal Alchemist: Brotherhood,159,5,147,9.26,6592
2,28977,Gintama°,527,5,132,9.25,6125
3,9253,Steins;Gate,3205,5,84,9.17,6588
4,9969,Gintama&#039;,527,5,132,9.16,6263
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,2874,3,0,4.15,191
12290,5543,Under World,2874,3,0,4.28,163
12291,5621,Violence Gekiga David no Hoshi,2874,3,118,4.88,199
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,2874,3,0,4.98,155
12293,26081,Yasuji no Pornorama: Yacchimae!!,2874,0,0,5.46,122

In [26]:
scaler = StandardScaler()
df[['episodes', 'rating', 'members']] = scaler.fit_transform(df[['episodes', 'rating', 'members']])
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,2660,0,-0.826692,2.824474,2.117275
1,5114,Fullmetal Alchemist: Brotherhood,159,5,1.903722,2.717032,2.221817
2,28977,Gintama°,527,5,1.625108,2.707265,1.992609
3,9253,Steins;Gate,3205,5,0.733545,2.629126,2.219854
4,9969,Gintama&#039;,527,5,1.625108,2.619358,2.060341
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,2874,3,-0.826692,-2.274108,-0.919846
12290,5543,Under World,2874,3,-0.826692,-2.147132,-0.933588
12291,5621,Violence Gekiga David no Hoshi,2874,3,1.365069,-1.561088,-0.915919
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,2874,3,-0.826692,-1.463414,-0.937515
12293,26081,Yasuji no Pornorama: Yacchimae!!,2874,0,-0.826692,-0.994579,-0.953712

In [27]:
features=['episodes','rating','members','type','genre']
df_features=df[features]

In [28]:
df_1=df.pivot_table(index='anime_id',columns='genre',values='rating')
df_1

genre,0,1,2,3,4,5,6,7,8,9,...,3219,3220,3221,3222,3223,3224,3225,3226,3227,3228
anime_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df_2=df_1.fillna(0,axis=1)
df_2

genre,0,1,2,3,4,5,6,7,8,9,...,3219,3220,3221,3222,3223,3224,3225,3226,3227,3228
anime_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34476,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34490,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34503,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34514,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34519,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
## cosine similarity

In [37]:
df_array=cosine_similarity(df_features,df_features)
df_array

array([[1.        , 0.99921582, 0.99993648, ..., 0.99999724, 0.99999759,
        0.99999837],
       [0.99921582, 1.        , 0.99959666, ..., 0.99921513, 0.99920657,
        0.99917709],
       [0.99993648, 0.99959666, 1.        , ..., 0.99993642, 0.9999343 ,
        0.99992583],
       ...,
       [0.99999724, 0.99921513, 0.99993642, ..., 1.        , 0.99999971,
        0.99999914],
       [0.99999759, 0.99920657, 0.9999343 , ..., 0.99999971, 1.        ,
        0.99999944],
       [0.99999837, 0.99917709, 0.99992583, ..., 0.99999914, 0.99999944,
        1.        ]])

In [38]:
df_new=pd.DataFrame(df_array)
df_new

,0,1,2,3,4,5,6,7,8,9,...,12007,12008,12009,12010,12011,12012,12013,12014,12015,12016
0,1.000000,0.999216,0.999936,0.999999,0.999937,0.999996,0.999869,0.999999,0.999988,0.999944,...,0.999998,0.999997,0.999997,0.999997,0.999997,0.999997,0.999997,0.999997,0.999998,0.999998
1,0.999216,1.000000,0.999597,0.999265,0.999596,0.999307,0.999695,0.999250,0.999285,0.999551,...,0.999206,0.999209,0.999210,0.999203,0.999203,0.999202,0.999202,0.999215,0.999207,0.999177
2,0.999936,0.999597,1.000000,0.999950,1.000000,0.999961,0.999980,0.999946,0.999944,0.999993,...,0.999934,0.999935,0.999935,0.999933,0.999933,0.999933,0.999933,0.999936,0.999934,0.999926
3,0.999999,0.999265,0.999950,1.000000,0.999951,0.999999,0.999888,1.000000,0.999985,0.999956,...,0.999998,0.999998,0.999998,0.999998,0.999998,0.999998,0.999998,0.999998,0.999998,0.999997
4,0.999937,0.999596,1.000000,0.999951,1.000000,0.999961,0.999980,0.999947,0.999944,0.999993,...,0.999935,0.999935,0.999936,0.999933,0.999934,0.999933,0.999933,0.999937,0.999935,0.999926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12012,0.999997,0.999202,0.999933,0.999998,0.999933,0.999995,0.999863,0.999998,0.999976,0.999941,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.999999
12013,0.999997,0.999202,0.999933,0.999998,0.999933,0.999995,0.999864,0.999998,0.999976,0.999941,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.999999
12014,0.999997,0.999215,0.999936,0.999998,0.999937,0.999995,0.999865,0.999998,0.999976,0.999942,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.999999
12015,0.999998,0.999207,0.999934,0.999998,0.999935,0.999996,0.999866,0.999998,0.999977,0.999942,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.999999
12016,0.999998,0.999177,0.999926,0.999997,0.999926,0.999994,0.999853,0.999998,0.999978,0.999934,...,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999,1.000000

In [42]:
#user1 id 0 have similarity with user 3455
df_new.idxmax()[0:10]

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [48]:
df[(df.anime_id==6)|(df.anime_id==900)]

,anime_id,name,genre,type,episodes,rating,members
214,6,Trigun,631,5,0.807842,1.798897,2.164883
2874,900,Dragon Ball Z Movie 07: Kyokugen Battle!! Sand...,1298,0,-0.826692,0.646344,1.698615

In [49]:
#Euclidean Distance
from sklearn.metrics import pairwise_distances

In [50]:
pairwise_distances(df_2,metric='euclidean')

array([[0.        , 2.95886006, 2.90991726, ..., 3.77777874, 2.39633203,
        2.41967806],
       [2.95886006, 0.        , 2.59986415, ..., 3.54447279, 2.00850251,
        2.03629983],
       [2.90991726, 2.59986415, 0.        , ..., 3.50371987, 1.93567764,
        1.96450569],
       ...,
       [3.77777874, 3.54447279, 3.50371987, ..., 0.        , 3.09044361,
        2.2171994 ],
       [2.39633203, 2.00850251, 1.93567764, ..., 3.09044361, 0.        ,
        1.06492787],
       [2.41967806, 2.03629983, 1.96450569, ..., 2.2171994 , 1.06492787,
        0.        ]])

In [54]:
def get_recommendation(anime_title, top_n=5):
    anime_index= df[df['title']==anime_title].index[0]
    sim_scores= list(enumerate(cosine_sim[anime_index]))
    sim_scores= sorted(sim_scores,key=lambda x:x[1],reverse=True)
    sim_scores= sim_scores[1:top_n+1]
    anime_indices= [i[0] for i in sim_scores]
    return anime_data.iloc[anime_indices]['title'].tolist()